.App {
  text-align: center;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(35, 175, 35)
  
}